* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  block-size: 5rem;

  line-height: 5rem;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choice {
  block-size: 165px;
  inline-size: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  block-size: 150px;
  inline-size: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-block-start: 5rem;
}
#paper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 10rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-block-start: 3rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-block-start: 5rem;
}
#msg {
  background-color: #081b31;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
